# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
venv/
env/

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Local data / storage
data/raw/
data/processed/
storage/chroma/

# Env files
.env
*.env